<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <script src="/socket.io/socket.io.js"></script>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="/javascripts/index.js"></script>
    <script src="/javascripts/canvas.js"></script>

    <style>
        p{
            font-size: 16px;
        }



    </style>


</head>
<body onload="init()">
<img src="images/Royal_Greenwich.jpg" class="position">
<p>The novel begins in Verloc's home, as he and his wife discuss the trivialities of everyday life, which introduces the reader to Verloc's family. Soon after, Verloc leaves to meet Mr Vladimir, the new First Secretary in the embassy of a foreign country. Although a member of an anarchist cell, Verloc is also secretly employed by the Embassy as an agent provocateur. Vladimir informs Verloc that from reviewing his service history he is far from an exemplary model of a secret agent and, to redeem himself, must carry out an operation – the destruction of Greenwich Observatory by a bomb. <br/>
    Vladimir explains that Britain's lax attitude to anarchism endangers his own country, and he reasons that an attack on 'science', the current vogue amongst the public, will provide the necessary outrage for suppression. Verloc later meets his friends, who discuss politics and law, and the notion of a communist revolution. Unbeknownst to the group, Stevie, Verloc's brother-in-law, overhears the conversation, which greatly disturbs him.</p>
<p>The novel flashes forward to after the bombing has taken place. Comrade Ossipon meets The Professor, who discusses having given explosives to Verloc. The Professor describes the nature of the bomb he carries in his coat at all times: it allows him to press a button which will kill him and those nearest to him in twenty seconds. After The Professor leaves the meeting, he stumbles into Chief Inspector Heat, a policeman investigating a recent explosion at Greenwich, where one man was killed. Heat informs The Professor that he is not a suspect in the case, but that he is being monitored due to his terrorist inclinations and anarchist background. Heat suspects Michaelis. <br/>
    Knowing that Michaelis has recently moved to the countryside to write a book, the Chief Inspector informs the Assistant Commissioner that he has a contact, Verloc, who may be able to assist in the case. The Assistant Commissioner shares some of the same high society acquaintances with Michaelis and is chiefly motivated by finding the extent of Michaelis's involvement in order to assess any possible embarrassment to his connections. He later speaks to his superior, Sir Ethelred, about his intentions to solve the case alone, rather than rely on the effort of Chief Inspector Heat.</p>
</body>