<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <script src="/socket.io/socket.io.js"></script>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="/javascripts/DataBase.js" type="module"></script>
    <script src="/javascripts/index.js"></script>
    <script src="/javascripts/canvas.js"></script>
    <script src="/javascripts/story.js"></script>
    <script>
        function ToNewPage(i){
            location.href="http://localhost:3000/room?"+"img="+i
        }
        function  LoadList(){
            console.log("load List");


            GetAllStory()
                .then(x=>{
                    console.log(x);
                    let example={}
                    example.title="example ";
                    example.description="example1   example1   example1   example1   example1   "
                    example.picture="images/SecretAgent.jpg";
                    example.author="author1"
                    x.push(example);

                    let datas=x;

                    let html="";
                    html+='<th style="font-size: 24px;width: 10%" > title </th>';
                    html+='<th style="font-size: 24px;width: 20%"> picture </th>';
                    html+='<th style="font-size: 24px;width: 50%" > description </th>';
                    html+='<th style="font-size: 24px;width: 20%" > join </th>';
                    for(i = datas.length-1; i >=0; i--) {
                        index=i;

                        html+="<tr>"

                        html+= '<th style="font-size: 20px">'
                        html+=datas[i].title;
                        html+='</th>';
                        let picture= '"'+datas[i].picture+'"';
                        html+='<th>'
                        html+= '<img  src='+picture+' alt="Pulpit rock" width="300" height="200">'
                        html+='</th>';

                        html+= '<th style="font-size: 16px ; text-align:left;">'
                        html+=datas[i].description;
                        html+='</th>';

                        html+= '<th>'
                        let func='\''+'ToNewPage('+picture+')'+'\'';
                        html+='<button  style="width: 200px; height: 80px;"  onClick='+func+'> join room </button>'

                        html+='</th>';

                        html+="</tr>"
                    }
                    document.getElementById("list").innerHTML=html;


                }).catch(e=>{
                    console.log("error  e");
            });



        }

        function OnLoad(){
            console.log("load");
            LoadList();
            init();

        }
    </script>
</head>


<body onload="OnLoad()">
<div id="initial_form" style="display: block">
    <h1><%= title %></h1>

    <a href="/new"><h1>Creating a new story</h1></a>
    <table id="list">

    </table>

</div>

</body>
</html>
