<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <script src="/socket.io/socket.io.js"></script>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="/javascripts/DataBase.js" type="module"></script>
    <script src="/javascripts/index.js"></script>
    <script src="/javascripts/canvas.js"></script>
    <script src="/javascripts/story.js"></script>
    <script>
        function ToNewPage(i){
            location.href="http://localhost:3000/room?"+"img="+i
        }
        function th(s){
            if(!s)s='';
            return '<th>'+s+'</th>';
        }
        function  LoadList(){
            console.log("load List");


            GetAllStory()
                .then(x=>{
                    console.log(x);
                    let example={}
                    example.title="example ";
                    example.description="example1   example1   example1   example1   example1   "
                    example.picture="images/SecretAgent.jpg";
                    example.author="author1"
                    x.push(example);

                    let datas=x;

                    let html="";
                    html+='<th style="font-size: 24px;width: 10%" > title </th>';
                    html+='<th style="font-size: 24px;width: 10%" > author </th>';
                    html+='<th style="font-size: 24px;width: 10%" > date</th>';

                    html+='<th style="font-size: 24px;width: 20%"> picture </th>';
                    html+='<th style="font-size: 24px;width: 50%" > description </th>';
                    html+='<th style="font-size: 24px;width: 20%" > join </th>';
                    for(i = datas.length-1; i >=0; i--) {
                        index=i;

                        html+="<tr>"
                        //title
                        html+=th(datas[i].title);
                        //author
                        html+=th(datas[i].author);
                        //date
                        html+=th(datas[i].date);
                        //pic
                        let picture= '"'+datas[i].picture+'"';
                        html+=th('<img  src='+picture+' alt="Pulpit rock" width="300" height="200">');
                        //description
                        html+=th(datas[i].description);
                        //join
                        let func='\''+'ToNewPage('+picture+')'+'\'';
                        html+=th('<button  style="width: 200px; height: 80px;"  onClick='+func+'> join room </button>');

                        html+="</tr>"
                    }
                    document.getElementById("list").innerHTML=html;


                }).catch(e=>{
                    console.log("error  e");
            });



        }

        function OnLoad(){
            console.log("load");
            LoadList();
            init();

        }
    </script>
</head>


<body onload="OnLoad()">
<div id="initial_form" style="display: block">
    <h1><%= title %></h1>

    <a href="/new"><h1>Creating a new story</h1></a>
    <table id="list">

    </table>

</div>

</body>
</html>
