<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>

    <script src="/javascripts/socket.io.js"></script>


    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <script src="/javascripts/jqury.js"></script>

    <script src="/javascripts/DataBase.js" type="module"></script>

    <script src="/javascripts/index.js"></script>
    <script src="/javascripts/canvas.js"></script>
    <script src="/javascripts/axios.js"></script>
    <script src="/javascripts/SendStory.js"></script>

</head>
<body onload="init()">
<div id="initial_form" style="display: block">
    <h1>Create a new story</h1>
</div>

    <p>
        <input type="file" name="picBase64" id="picBase64" onchange="imgChange(event)" accept=".gif,.jpg,.jpeg,.png">
    </p>
    <h3>Please write the author, title, and description</h3>
    <p><label for="title1"> Image's title </label>
        <input type="text" id="title1" name="title">
    </p>
    <p>
        <label for="description1"> Description </label>
        <input type="text" id="description1" name="description" style="width: 300px;height: 100px">
    </p>
    <p>
        <label for="author1"> Author </label>
        <input type="text" id="author1" name="author">
    </p>

    <p>
        <input type="submit"  value="Submit" id="upload3" onclick="send()">
    </p>
<div style="width: 100%;height: 500px">
    <img id="img" src="" height="100%">

</div>
</body>