<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link type="text/css" rel="stylesheet" href="https://www.gstatic.com/knowledge/kgsearch/widget/1.0/widget.min.css">
    <script type="text/javascript" src="https://www.gstatic.com/knowledge/kgsearch/widget/1.0/widget.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <link rel='stylesheet' href='/stylesheets/acp21zo.css'/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="/javascripts/database.js" type="module"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="/javascripts/index.js"></script>
    <script src="/javascripts/canvas.js"></script>

</head>

<body onload="init()">
<div id="connect-room">
    <form onsubmit="return false;">
        <h1><%= title %></h1>
        <h3 id="hint">Please insert the id of the Room you want to Join, if you do not have a room id, click Generate Room</h3>
        <p><label for="name"> Your name </label>
            <input type="text" id="name" name="name">
        </p>
        <p>
            <label for="roomNo"> Your room </label>
            <input type="text" id="roomNo" name="roomNo">
            <button id="roomNoGenerator" onclick="generateRoom()">Generate Room</button>
        </p>
        <p style=" width: 100%">
            <label for="image_url"> Image (URL) </label>
            <input type="text" id="image_url" name="image_url">
        </p>
        <div class="btdiv">
            <button id="connect" onclick="connectToRoom()">Connect</button>
        </div>

    </form>
</div>



</body>

</html>