<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link type="text/css" rel="stylesheet" href="https://www.gstatic.com/knowledge/kgsearch/widget/1.0/widget.min.css">
    <script type="text/javascript" src="https://www.gstatic.com/knowledge/kgsearch/widget/1.0/widget.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <link rel='stylesheet' href='/stylesheets/acp21zo.css'/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="/javascripts/database.js" type="module"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="/javascripts/index.js"></script>
    <script src="/javascripts/canvas.js"></script>

</head>

<body onload="init()">
<div id="connect-room">
    <form onsubmit="return false;">
        <h1><%= title %></h1>
        <h3 id="hint">Please insert the id of the Room you want to Join, if you do not have a room id, click Generate Room</h3>
        <p><label for="name"> Your name </label>
            <input type="text" id="name" name="name">
        </p>
        <p>
            <label for="roomNo"> Your room </label>
            <input type="text" id="roomNo" name="roomNo">
            <button id="roomNoGenerator" onclick="generateRoom()">Generate Room</button>
        </p>
        <p style=" width: 100%">
            <label for="image_url"> Image (URL) </label>
            <input type="text" id="image_url" name="image_url">
        </p>
        <div class="btdiv">
            <button id="connect" onclick="connectToRoom()">Connect</button>
        </div>

    </form>
</div>
<div id="up-imgs" >
    <form method="post" id="upForm" onsubmit="onSubmit('/')">
        <p><h1>Upload to server</h1>
        <h3>Please write the author, title, and description</h3>
        <p><label for="title1"> Image's title </label>
            <input type="text" id="title1" name="title">
        </p>
        <p>
            <label for="description1"> Description </label>
            <input type="text" id="description1" name="description">
        </p>
        <p>
            <label for="author1"> Author </label>
            <input type="text" id="author1" name="author">
        </p>
        <p class="center">
            <span>## Please do not upload too large Image ##</span>
        </p>
        <p class="center">
            <input type="file" name="picBase64" id="picBase64" onchange="imgChange(event)" accept=".gif,.jpg,.jpeg,.png">
        </p>
        <img src="" id="showImage" alt="" height="160px" width="160px" style="display: none">

        <div class="btdiv">
            <p><input type="submit" value="Submit" id="upload3"></p>
        </div>
    </form>
</div>
</div>


</body>

</html>