<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link type="text/css" rel="stylesheet" href="/stylesheets/css1.css">

    <script type="text/javascript" src="/javascripts/js1.js"></script>

<!--    <script src="/socket.io/socket.io.js"></script>-->
    <script src="/javascripts/socket.io.js"></script>


    <link rel='stylesheet' href='/stylesheets/knowledge.css'/>
    <script src="/javascripts/jqury.js"></script>
    <script src="/javascripts/DataBase.js" type="module"></script>
    <script src="/javascripts/index.js"></script>
    <script src="/javascripts/canvas.js"></script>




</head>
<body onload="init()">




<div id="initial_form" style="display: block">
    <div id="connect-room">
            <h1><%= title %></h1>
            <p>Please insert the id of the Room you want to Join, if you do not have a room id, click Generate Room</p>
            <form onsubmit="return false;">
            <p><label for="name"> Your name </label>
                <input type="text" id="name" name="name">
            </p>
            <p>
                <label for="roomNo"> Your room </label>
                <input type="text" id="roomNo" name="roomNo">
                <button id="roomNoGenerator" onclick="generateRoom()">Generate Room</button>
            </p>
            <p style=" width: 100%">
                <label for="image_url"> Image (ID) </label>
                <label id="image_url" ></label>
            </p>
            <div>
                <button id="connect" onclick="connectToRoom()">Connect</button>
            </div>

        </form>
    </div>

</div>
<div id="chat_interface" style="display: none">
    <div>
        <p><div id="who_you_are" style="display: inline" style="height: 10vh"></div>, you are in room: <div id="in_room" style="display: inline"></div>
    </div>
    </p>
    <div style="width: 100%; height: 500px">
        <img id="image" height="100%" >
        <canvas  id="canvas" ></canvas>
    </div>


    <script>
        var to= localStorage.getItem("room img ID");
        console.log(to);
        var node= document.getElementById("image_url");

        node.innerHTML  =to;
    </script>

    <!-- knowledge graph -->


    <h2>Search the Knowledge Graph</h2>
    <div class="myRow" id="typeForm">
        <label for="myType">Type: </label><input type="text" id="myType">
        <button onclick="widgetInit()">Set type</button>
    </div>
    <div class="myRow" id='widget' style="display: none">
        <label for="myInput">Search for: </label><input type="text" id="myInput">
        <div class="myRow" id="typeSet"></div>
    </div>
    <div>
        <div class='resultPanel' id="show_graph" style="display: none">
<!--            <h3 id="resultName"></h3>-->
<!--            <h4 id="resultId"></h4>-->
<!--            <div id="resultDescription"></div>-->
<!--            <div>-->
<!--                <a id="resultUrl" target="_blank">-->

<!--                </a>-->
<!--            </div>-->
        </div>
    </div>


    <div id="history"  class="boxed scrolling" ></div>
    <div id="input" class=" boxed">
        <form onsubmit="return false;">
            <p>
                <label for="name"> Text: </label>
                <input type="text" id="chat_input" name="chat_input" style="width: 50%">
                <button id="chat_send" onclick="sendChatText()">Send message</button>
                <button id="Back" onclick="back()">Back to the homepage</button>
            </p>
        </form>
    </div>
</div>
</body>
</html>
